.background { 
	background: rgb(52, 166, 251);
    table-layout: fixed;
    border-spacing: 0;   
}
.r {
	background: rgb(255, 100, 100);
}
.g {
	background: rgb(180, 255, 180);
}
.b {
	background: rgb(100, 100, 255);
}

